# Node & Astro Build Outputs and Cache Folders
node_modules/
dist/
.astro/
.vercel/
.netlify/

# Environment Variables
.env
.env.local
.env.*.local

# Python Caches & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/

# System & IDE files
.DS_Store
.idea/
.vscode/
*.log
